.poketmon-wrap{
    display: flex;
    flex-direction: column;
    margin-top:120px;
}

.poket-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;
}

.genBtn {
    cursor: pointer;
}

.gen_menu_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    background: #fff;
    width: 100%;
    height: 100px;
    z-index: 999;
}

.gen_menu_wrap button {
    flex-shrink: 0;
    margin: 0 5px;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    font-size: 1.1rem;
    opacity: 1;
    background-color: #393939;
    color: #fff;
}

.gen_menu_wrap button.on {
    background-color: #FFCE31 !important;
    color: #333099;
    border: 4px solid #333099;
    box-shadow: -2px 4px 0px #171a3b;
}