.poketmon-wrap{
    display: flex;
    flex-direction: column;
    margin-top:120px;
}

.poket-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:40px 0;
}

.gen_menu_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.gen_menu_wrap button {
    flex-shrink: 0;
    margin: 0 5px;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    font-size: 1.1rem;
    opacity: 1;
    background-color: #393939;
    color: #fff;
}

.gen_menu_wrap button.on {
    background-color: #FFCE31 !important;
    color: #333099;
    border: 4px solid #333099;
    box-shadow: -2px 4px 0px #171a3b;
}

.modal-dialog {
    padding: 0;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.dialog-container {
    padding: 20px;
    display: flex;
    gap: 20px;
}

.dialog-container-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:20px
}

.dialog-container-wrap div{
    display: flex;
    flex-direction: column;
}

.dialog-container-wrap div form button{
    width: 300px;
    padding: 20px 0;
    transform: skew(-20deg);
    background-color: #da343c;
    border-color: #da343c;
    color: #fff;
    display: inline-block;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    border: 1px solid transparent;
}